.HeroHome {
  padding: 80px 10%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.HeroHome .HeroHome__Content {
  width: 50%;
}

.HeroHome .HeroHome__Content button {
  font-size: 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border: none;
  font-family: 'poping-Semibold';
  background-color: #f8ecf1;
  color: #f1347c;
}

.HeroHome .HeroHome__Content button img {
  width: 40px;
  margin-left: 20px;
}

.HeroHome .HeroHome__Content h1 {
  padding: 30px 0px;
  font-size: 60px;
  font-family: 'poping-Bold';
  font-weight: bolder;
  width: 100%;
  letter-spacing: 2px;
}

.HeroHome .HeroHome__Content h1 img {
  margin: 0px 30px;
}

.HeroHome .HeroHome__Content p {
  font-family: 'poping-Medium';
  font-size: 18px;
  line-height: 30px;
  color: #a3a3a3;
}

.HeroHome .HeroHome__Content .Btns {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.HeroHome .HeroHome__Content .Btns button {
  background-color: #6565ee;
  border: 1px solid #6565ee;
  color: white;
  padding: 12px 35px;
  font-size: 19px;
  cursor: pointer;
}

.HeroHome .HeroHome__Content .Btns button:hover {
  border: 1px solid #6565ee;
  background-color: transparent;
  color: #6565ee;
}

.WhatWeServe {
  padding: 0px 12%;
}

.WhatWeServe .WhatWeServe__Introduction img {
  width: 60px;
}

.WhatWeServe .WhatWeServe__Introduction h6 {
  font-family: 'poping-Medium';
  font-size: 28px;
  color: #5d5de7;
  padding: 10px 0px;
  font-weight: 600;
  letter-spacing: 3px;
}

.WhatWeServe .WhatWeServe__Introduction h1 {
  font-family: 'poping-Bold';
  font-weight: bolder;
  font-size: 60px;
  line-height: 80px;
  padding: 10px 0px;
  width: 100%;
}

.WhatWeServe .WhatWeServe__Introduction p {
  font-family: 'poping-Medium';
  font-size: 16px;
  line-height: 30px;
  color: #a3a3a3;
}

.WhatWeServe .WhatWeServe__Items {
  width: 80%;
  margin: 0px auto;
}

.WhatWeServe .WhatWeServe__Items .WhatWeServe__Items__Single {
  padding-bottom: 40px;
}

.WhatWeServe .WhatWeServe__Items img {
  width: 100px;
  margin-bottom: 20px;
}

.WhatWeServe .WhatWeServe__Items h3 {
  font-family: 'poping-Bold';
  font-size: 28px;
  padding: 10px 0px;
  font-weight: bolder;
  text-transform: capitalize;
}

.WhatWeServe .WhatWeServe__Items p {
  font-family: 'poping-Medium';
  font-size: 17px;
  line-height: 30px;
  color: #a3a3a3;
}

.WhatWeServe .WhatWeServe__Items span {
  font-family: 'poping-Bold';
  font-size: 13px;
  line-height: 30px;
  color: #f1347c;
}

.WhatWeServe .SecondItems {
  margin-top: 80px;
}

.Tophotels .Tophotels__Title {
  padding: 0px 10%;
}

.Tophotels h6 {
  font-family: 'poping-Medium';
  font-size: 28px;
  color: #5d5de7;
  padding: 10px 0px;
  font-weight: 600;
  letter-spacing: 3px;
}

.Tophotels h1 {
  font-family: 'poping-Bold';
  font-weight: bolder;
  font-size: 60px;
  line-height: 80px;
  padding: 10px 0px;
  width: 100%;
}

.Tophotels ::-webkit-scrollbar {
  position: relative;
}

.Tophotels .Tophotels__hotels {
  overflow-x: auto;
  display: -webkit-box;
  padding: 0px 5%;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single {
  margin-top: 50px;
  width: 400px;
  cursor: pointer;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single .HotelImg {
  width: 300px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 0px 11px -5px;
  transition: .3s ease-in-out;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single h2 {
  font-family: 'poping-Bold';
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  padding: 10px 0px;
  width: 80%;
  text-transform: capitalize;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single p {
  font-family: 'poping-Medium';
  font-size: 18px;
  line-height: 30px;
  color: #a3a3a3;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single .ReviewsHotel {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single .ReviewsHotel button {
  font-family: 'poping-Semibold';
  background-color: #f8ecf1;
  color: #f1347c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  border-radius: 50px;
  margin-right: 30px;
  width: 90px;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single .ReviewsHotel button img {
  width: 25px;
}

.Tophotels .Tophotels__hotels .Tophotels__hotels__single:hover .HotelImg {
  transform: scale(1.04);
}

.Statistique, .Reviews {
  padding: 0px 10%;
  display: flex;
  align-items: start;
}

.Statistique .Statistique__Img, .Statistique .Statistique__Content, .Statistique .Reviews__centent, .Statistique .Reviews__Img, .Reviews .Statistique__Img, .Reviews .Statistique__Content, .Reviews .Reviews__centent, .Reviews .Reviews__Img {
  width: 50%;
}

.Statistique .Statistique__Content .Statistique__Content__Introduction h6, .Statistique .Reviews__centent .Statistique__Content__Introduction h6, .Reviews .Statistique__Content .Statistique__Content__Introduction h6, .Reviews .Reviews__centent .Statistique__Content__Introduction h6 {
  font-family: 'poping-Medium';
  font-size: 28px;
  color: #5d5de7;
  padding: 10px 0px;
  font-weight: 600;
  letter-spacing: 3px;
}

.Statistique .Statistique__Content .Statistique__Content__Introduction h1, .Statistique .Reviews__centent .Statistique__Content__Introduction h1, .Reviews .Statistique__Content .Statistique__Content__Introduction h1, .Reviews .Reviews__centent .Statistique__Content__Introduction h1 {
  font-family: 'poping-Bold';
  font-weight: bolder;
  font-size: 50px;
  line-height: 70px;
  padding: 10px 0px;
  width: 100%;
}

.Statistique .Statistique__Content .Statistique__Content__Introduction h1 img, .Statistique .Reviews__centent .Statistique__Content__Introduction h1 img, .Reviews .Statistique__Content .Statistique__Content__Introduction h1 img, .Reviews .Reviews__centent .Statistique__Content__Introduction h1 img {
  width: 70px;
}

.Statistique .Statistique__Content .Statistique__Content__Introduction p, .Statistique .Reviews__centent .Statistique__Content__Introduction p, .Reviews .Statistique__Content .Statistique__Content__Introduction p, .Reviews .Reviews__centent .Statistique__Content__Introduction p {
  padding: 20px 0px;
  font-family: 'poping-Medium';
  font-size: 17px;
  line-height: 35px;
  color: #a3a3a3;
}

.Statistique .Statistique__Content .Statistique__Content__Items, .Statistique .Reviews__centent .Statistique__Content__Items, .Reviews .Statistique__Content .Statistique__Content__Items, .Reviews .Reviews__centent .Statistique__Content__Items {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.Statistique .Statistique__Content .Statistique__Content__Items h1, .Statistique .Reviews__centent .Statistique__Content__Items h1, .Reviews .Statistique__Content .Statistique__Content__Items h1, .Reviews .Reviews__centent .Statistique__Content__Items h1 {
  font-family: 'poping-Bold';
  font-weight: bolder;
  font-size: 40px;
  padding: 10px 0px;
  color: #5d5de7;
}

.Statistique .Statistique__Content .Statistique__Content__Items h2, .Statistique .Reviews__centent .Statistique__Content__Items h2, .Reviews .Statistique__Content .Statistique__Content__Items h2, .Reviews .Reviews__centent .Statistique__Content__Items h2 {
  font-family: 'poping-Medium';
  font-size: 25px;
  padding: 10px 0px;
  font-weight: 600;
  letter-spacing: 3px;
}

.Reviews {
  margin-top: 100px;
}

.Reviews h1 img {
  margin: 10px 0px;
}

.Reviews .CardReviews {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 11px -6px black;
  background-color: white;
}

.Reviews .CardReviews p {
  font-family: 'Poppins-MediumItalic' !important;
}

.Reviews .CardReviews h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

.Reviews .CardReviews .RateRevwies {
  display: flex;
  align-items: center;
}

.Reviews .CardReviews .RateRevwies img {
  width: 30px;
  margin-right: 12px !important;
}

.CardFinal {
  padding: 100px 10%;
}

.CardFinal .CardFinal_Card {
  background-color: #f8ecf1;
  box-shadow: 0px 0px 11px -10px black;
  border-radius: 20px;
  text-align: center;
  padding: 80px 20px;
}

.CardFinal .CardFinal_Card img {
  width: 60px;
  margin: 0px auto;
}

.CardFinal .CardFinal_Card h1 {
  font-family: 'poping-Bold';
  font-weight: bolder;
  font-size: 50px;
  line-height: 70px;
  padding: 10px 0px;
  width: 70%;
  margin: 0px auto;
}

.CardFinal .CardFinal_Card p {
  padding: 20px 0px;
  font-family: 'poping-Medium';
  font-size: 24px;
  line-height: 35px;
  color: #4d4d4d;
}

.CardFinal .CardFinal_Card button {
  background-color: #6565ee;
  border: 1px solid #6565ee;
  color: white;
  padding: 12px 35px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 50px;
}

.CardFinal .CardFinal_Card button:hover {
  border: 1px solid #6565ee;
  background-color: transparent;
  color: #6565ee;
}
