.ConnexionZone {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.Inscription {
  background: white;
  position: fixed;
  width: 25%;
  border-radius: 20px;
  box-shadow: 0px 0px 11px -4px black;
  padding: 20px;
  top: 20%;
  left: 38%;
  z-index: 10000;
  text-align: center;
}

.Inscription h2 {
  font-family: 'poping-Bold';
  font-weight: bolder;
  font-size: 30px;
  line-height: 80px;
  width: 100%;
  text-align: center;
  color: #f1347c;
}

.Inscription p {
  font-family: 'poping-Light';
  font-size: 18px;
  line-height: 30px;
  color: #a3a3a3;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #a3a3a3;
  width: 70%;
  margin: 0px auto;
}

.Inscription .Inscription__Faild {
  border: 1px solid #c2c2c2;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 30px 0px;
}

.Inscription .Inscription__Faild img {
  margin-right: 20px;
  width: 20px;
}

.Inscription .Inscription__Faild input {
  width: 100%;
  outline: none;
}

.Inscription button {
  font-family: 'poping-Semibold';
  background-color: #f8ecf1;
  color: #f1347c;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 20px auto;
  font-size: 18px;
  width: 100%;
  text-align: center;
  outline: none;
}

.Inscription button:hover {
  background-color: #fbcfe1;
}

.Inscription .Valide {
  padding: 10px 100px;
}

.Inscription .Remove {
  width: 40px;
  position: absolute;
  right: -2px;
  top: -2px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.Inscription .Remove :hover {
  transform: scale(1.09);
}

.Inscription .RaedyHave {
  text-align: start;
  color: black;
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
}

.Inscription .RaedyHave span {
  color: #f1347c;
  cursor: pointer;
}

.Inscription .RaedyHave span:hover {
  color: #ff8eb9;
}

.Inscription .Date {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.Inscription .Date input {
  border: 1px solid #c2c2c2;
  display: flex;
  align-items: center;
  padding: 6px 20px;
  border-radius: 50px;
  margin: 10px auto;
  width: 90%;
  cursor: pointer;
  outline: none;
}
