
.error{
  color:red !important;
  text-align: center;
}
.Inscription__Faild{
  border: 1px solid white;
  background-color:white;
  display:flex;
  align-items:center;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px 0px;
  img{
      margin-right:20px ;
      width: 20px;
  }
  input{
      width: 100%;
      outline:none;
  }

}
.Dashboard__Centent__Tables__Input {
  margin: 10px 0px;
  width: 90%;


}
.First__Informations{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(450px,1fr));
  justify-content: space-between;
  transition: .3s ease-in-out;
}
select,textarea{
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  margin: 10px 0px;
  border: 1px solid grey;
  outline: none;
}
.TitlePopup{
  text-align:start !important;
}
.CoverImg{
    border: 1px solid black;
    text-align: center;
    padding: 80px 0px;
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
}
.btn__rooms{
  text-align:end !important;
  margin: 20px 0px;
  .UpdatePorile{
    border-radius: 50px;
    padding: 10px 45px;
    background-color:rgb(101, 101, 238);
    border: 1px solid rgb(101, 101, 238);
    color: white;
    cursor: pointer;
  
    &:hover{
        border: 1px solid rgb(101, 101, 238);
        background-color:transparent;
        color: rgb(101, 101, 238); 
        &:before {
            width: 0% !important;
        }
    }
  }
}
.Dashboard__Centent__Tables{
  .Btn{
    text-align: center;
    .UpdatePorile{
      border-radius: 50px;
      padding: 10px 45px;
      background-color:rgb(101, 101, 238);
      border: 1px solid rgb(101, 101, 238);
      color: white;
      cursor: pointer;
    
      &:hover{
          border: 1px solid rgb(101, 101, 238);
          background-color:transparent;
          color: rgb(101, 101, 238); 
          &:before {
              width: 0% !important;
          }
      }
    }
  }
}

.css-1s2u09g-control{
  margin: 10px 0px !important;
  border-radius: 20px !important;
}
span{
  font-size: 16px;
  font-weight: 800;
  font-family: 'poping-Semibold';
}

h1{
  font-size:30px;
  font-weight:bold;
  font-family: 'poping-Bold';
}

.statistique__Allclients__clientTable{
    box-shadow: 0px 0px 11px -7px rgb(0, 0, 0,4) !important;
    background: white;
    padding: 20px;
    border-radius: 20px;
    height: 500px;
    overflow-y: scroll;
    .statistique__Allclients__th,.statistique__Allclients__td{
      padding: 10px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 8px 0px;
      border-radius: 5px;
      p{
        width: 25%;
        margin: 0px;
      }
    }
    .statistique__Allclients__td{
      box-shadow: 0px 0px 3px -3px rgb(0, 0, 0 ,0.4) !important;
      background: #f5f5f5;
    }
  }
  .statistique__Allclients__search{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: white;
    border-radius: 50px;
    box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.41);
    margin: 30px 0px;
    
    input{
      border: none;
      box-shadow: none;
      background: none;
      width: 90%; 
      padding: 10px 20px;   
      outline: none;
    }
  }
  .actions,.Isreserved{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      margin: 0px 10px;
      fill: black;
      cursor: pointer;
      &:hover{
        fill: #2f2fb7;
      }
    }
  }
  .Ispayee,.Notpayee,.Isreserved,.Notreserved{
    background: rgb(31, 183, 31);
    border-radius: 4px;
    padding:5px 10px; 
    font-size: 11px;
    color:white;
    width: 15% !important;
    margin: 0px auto;
    cursor: pointer;
    &:hover{
      border: 1px solid rgb(31, 183, 31);
      background:transparent;
      color:black;
    }
  }

  .Notpayee,.Notreserved{
    background: rgb(190, 25, 39);
    &:hover{
      border: 1px solid rgb(190, 25, 39);
      background:transparent;
      color:black;
    }
  }
  .IspayeeHead,.Notreserved{
    width: 15% !important;
  }
  .DashboardMoney__card{
    display: flex;
    align-items: center;
    justify-content:space-between;
  .DashboardMoney__card__single{
      box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.41);
      background: white;
      border-radius: 10px;
      text-align: center;
      width: 20%;
      padding: 15px 0px;
      svg{
          width: 40px;
          height: 40px;
          fill: black;
          margin: auto;
      }
      span{
          display: block;
      }
      .card__money{
          margin: 15px 0px;
          font-size: 30px;
      }
      @media only screen and (max-width: 768px){
        width: 30% ;
      }
      @media only screen and (max-width: 560px){
          width: 60%;
          margin: 20px auto;
      }
    }
    @media only screen and (max-width: 560px){
      display: block;
    }

}