@font-face {
  font-family: 'poping-Regular';
  src: url(../fonts/poppins-1/Poppins-Regular.otf);
}

@font-face {
  font-family: 'poping-Extrabold';
  src: url(../fonts/poppins-1/Poppins-ExtraBold.otf);
}

@font-face {
  font-family: 'poping-Semibold';
  src: url(../fonts/poppins-1/Poppins-SemiBold.otf);
}

@font-face {
  font-family: 'poping-Medium';
  src: url(../fonts/poppins-1/Poppins-Medium.otf);
}

@font-face {
  font-family: 'poping-Bold';
  src: url(../fonts/poppins-1/Poppins-Bold.otf);
}

@font-face {
  font-family: 'poping-Light';
  src: url(../fonts/poppins-1/Poppins-Light.otf);
}

@font-face {
  font-family: 'countryside';
  src: url(../fonts/countryside//Countryside-YdKj.ttf);
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url(../fonts/poppins-1/Poppins-MediumItalic.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #26262c;
  font-family: 'poping-Regular';
}

body {
  background-color: white;
}

.Dashborad {
  display: flex;
  align-items: start;
}
